<div class="lg:container mx-auto mb-4 mt-6 " id="list_comandas">
    <div class="bg-gray-600 rounded overflow-hidden border border-gray-300 hover:shadow flex flex-row w-1/3 ">
        <div class="py-1 px-4 flex-grow flex flex-col w-full">
            <h4 class="font-h2  text-white truncate">Id: Comanda</h4>
            <div>
                <p class="font-h3 text-white mt-2">Forma de entrega: </p>
            </div>
    
            <div class="mt-2">
                <div class="mt-1 flex flex-col  ">
                    <p class="font-h5 text-white mt-1 ">Forma de entrega: </p>
                    <p class="font-h5 text-white mt-1">Precio total: </p>
                    <p class="font-h5 text-white mt-1">Fecha: </p>
                </div>
                <div class="mt-1 flex flex-row">
                </div>
            </div>
        </div>
    </div>
</div>